$mainBackgroundColor: #22819F;
$seconderyBackgroundColor: #EDEDED;
$mainColor : #22819F;
$mainTextColor: #303030;
$mainFont: IRANSans;
$grayColor: #909090;
$seconderyColor: #299997;
$seconderyColorDark: #0D6A71;

.row.fullWidth
{
	max-width: 100% !important;
}
.paddingless
{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
body
{
	margin: 0px;
	padding: 0px;
	background-color: $seconderyBackgroundColor;
}
#headerImage
{
	width:80%;
}
#contentPlate
{
	background-color: #ffffff;
	padding-top: 1rem;
	padding-bottom: 5rem;
}

h1,h2,h3,h4,h5,h6,p,span,a,li,ul
{
	font-family: $mainFont;
}
a
{
	color: $seconderyColor;
	text-decoration: none;
	-webkit-transition: color 0.3s ease;
		 -moz-transition: color 0.3s ease;
		   -o-transition: color 0.3s ease;
	        transition: color 0.3s ease;
}
a:hover
{
	color: $seconderyColorDark;
	-webkit-transition: color 0.3s ease;
		 -moz-transition: color 0.3s ease;
		   -o-transition: color 0.3s ease;
	        transition: color 0.3s ease;

}
#footerPlate
{
	background-color: $seconderyColorDark;
	padding-top: 5rem;
	padding-bottom: 2rem;
	text-align: center;
	.github
	{
		font-family: fontello;
		color: #ffffff;
		font-size: 3rem;
		-webkit-transition: color 0.3s ease;
			 -moz-transition: color 0.3s ease;
			   -o-transition: color 0.3s ease;
		        transition: color 0.3s ease;
	}
	.github:hover
	{
		color: $seconderyColor;
		-webkit-transition: color 0.3s ease;
			 -moz-transition: color 0.3s ease;
			   -o-transition: color 0.3s ease;
		        transition: color 0.3s ease;
	}
}

#changeLangBox
{
	display: table;
	list-style-type: none;
	padding: 0px;
	li
	{
		display: table-cell;
		text-transform: uppercase;
		padding-left: 0.4rem;
		padding-right: 0.4rem;
		vertical-align: middle;
	}
	li.line
	{
		div
		{
			width: 2px;
			height: 1rem;
			padding: 0px;
			background-color: $grayColor;
		}
	}
	li.line:last-child
	{
		display: none;
	}
}
.iconTextBox
{
	td.iconBox
	{
		padding-left: 0.3rem;
		padding-right: 0.3rem;
		span
		{
			display: block;
			margin-top: 0.3rem;
			font-family: fontello;
			color: $mainColor;
			font-size: 1.2rem;
		}
	}
	td.textBox
	{
		a
		{
			margin: 0px;
			font-size: 1rem;
		}
	}
}