.iconTextBox
{
	direction: rtl;
}
body
{
	direction: rtl;
}
.column,.columns
{
  float:right;
}
.large-offset-0,.medium-offset-0,.small-offset-0 {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.large-offset-1,.medium-offset-1,.small-offset-1 {
  margin-left: 0 !important;
  margin-right: 8.33333% !important; }

.large-offset-2,.medium-offset-2,.small-offset-2 {
  margin-left: 0 !important;
  margin-right: 16.66667% !important; }

.large-offset-3,.medium-offset-3,.small-offset-3 {
  margin-left: 0 !important;
  margin-right: 25% !important; }

.large-offset-4,.medium-offset-4,.small-offset-4 {
  margin-left: 0 !important;
  margin-right: 33.33333% !important; }

.large-offset-5,.medium-offset-5,.small-offset-5 {
  margin-left: 0 !important;
  margin-right: 41.66667% !important; }

.large-offset-6,.medium-offset-6,.small-offset-6 {
  margin-left: 0 !important;
  margin-right: 50% !important; }

.large-offset-7,.medium-offset-7,.small-offset-7 {
  margin-left: 0 !important;
  margin-right: 58.33333% !important; }

.large-offset-8,.medium-offset-8,.small-offset-8 {
  margin-left: 0 !important;
  margin-right: 66.66667% !important; }

.large-offset-9,.medium-offset-9,.small-offset-9 {
  margin-left: 0 !important;
  margin-left: 75% !important; }

.large-offset-10,.medium-offset-10,.small-offset-10 {
  margin-left: 0 !important;
  margin-right: 83.33333% !important; }

.large-offset-11,.medium-offset-11,.small-offset-11 {
  margin-left: 0 !important;
  margin-right: 91.66667% !important; }