<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{% if page.title %} {{ page.title }} {% endif %}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link href='static/css/fonts.css' rel='stylesheet' type='text/css'>
		<link href='static/css/fontello.css' rel='stylesheet' type='text/css'>
		<link href='static/css/foundation.css' rel='stylesheet' type='text/css'>
		{% if page.lang %}
		<link href='static/css/index-{{ page.lang }}.css' rel='stylesheet' type='text/css'>
		{% endif %}
	</head>
	<body>
		<div class="row fullWidth">
			<div class="column small-12 paddingless">
				<center><img id="headerImage" src="static/img/QuranPalace.png"/></center>
			</div>
		</div>
		<div class="row">
		<ul>
			{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
			{% for post in posts %}
			  <li>
			    <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
			  </li>
			{% endfor %}
			
			{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
			{% for page in pages %}
			  <li>
			    <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
			  </li>
			{% endfor %}
			</ul>
		</ul>
		</div>
		<div class="row">
			<div id="contentPlate" class="column small-12">
				{{ content }}
			</div>
		</div>
		<div id="footerPlate" class="row fullWidth">
		{% if page.lang %}
			{% case page.lang %}
				{% when 'en' %}
					<a class="github" href="/index"></a>
				{% when 'fa' %}
					<a class="github" href="/index-fa"></a>
			{% endcase %}
		{% else %}
			<a class="github" href="/index"></a>
		{% endif %}	
		</div>
	</body>
</html>
